<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
    overflow-x: None;
    }
    </style>
  </head>
  <body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text- min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center text-primary align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'admin_home' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-success">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_view_users' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-success">User</span></a>
                    </li>
                    <li>
                      <a href="{% url 'view_categories' %}" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-success">Category</span></a>
                      </li>
                    <li>
                        <a href="{% url 'list_product' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-success">Products</span> </a>
                    </li>
                    <li>
                      <a href="{% url 'admin_order_management' %}" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-success">Orders</span> </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'view_coupan' %}" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-success">Coupan</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'view_offers' %}" class="nav-link align-middle px-0">
                      <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-success">Offer</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sales' %}" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-success">Sales</span>
                 </a>
                </li>
              </ul>
                <hr>
                <div class="dropdown pb-4">
                  <a href="{% url 'admin_logout' %}" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-success">Logout</span> </a>
              </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="card mt-4">
        <h5 class="card-header">Sales of Day</h5>
        <div class="container card-header">
            <div class="row ">
            <form action="" method="GET">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="col">
                            <input type="date" name= "date" class="form-control date" id="date" max="2022-09-28">
                    </div>
                   
                        <div class="col">
                            <div class="input-group-append">
                                <button class="btn btn-info ms-5" type="submit">View</button>
                                <button class="btn btn-primary btn-sm" type="button"><a href="{% url 'export_to_excel' %}" class="text-white " style="text-decoration: none;">Export to
                                        Excel</a></button>
                                <button class="btn btn-primary btn-sm" type="button"><a href="{% url 'export_to_pdf' %}" class="text-white" style="text-decoration: none;">Export to
                                        PDF</a></button>
                            </div>
                        </div>
                    
                </div>
            </form>
            </div>
    
               
            </div>
        
        <div class="card-body">
            <table class="table table-borderless ms-4">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.created_at}}</td>
                        <td>{{product.product.product_name}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.order.order_total}}</td>
                    </tr>
                   
                {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div class="card-footer text-muted">
            Total:
        </div>
    </div>

    <!-- monthly sales report -->
    <div class="card mt-4">
        <h5 class="card-header">Monthly Sales Report    </h5>
        <div class="container card-header">
            <div class="row ">
                <form action="{% url 'monthly_sales' %}" method="GET">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="col">
                            <input type="month" name="month_date" class="form-control month_date" id="month_date" max="">
                        </div>
    
                        <div class="col">
                            <div class="input-group-append">
                                <button class="btn btn-info ms-5" type="submit">View</button>
                                <button class="btn btn-primary btn-sm" type="button"><a href="{% url 'export_to_excel' %}"
                                        class="text-white " style="text-decoration: none;">Export to
                                        Excel</a></button>
                                <button class="btn btn-primary btn-sm" type="button"><a href="{% url 'export_to_pdf1' %}"
                                        class="text-white" style="text-decoration: none;">Export to
                                        PDF</a></button>
                            </div>
                        </div>
    
                    </div>
                </form>
            </div>
    
    
        </div>
    
        <div class="card-body">
            <table class="table table-borderless ms-4">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                {% for month_product in month_products %}
                    <tr>
                        
                        <td>{{month_product.created_at}}</td>
                        <td>{{month_product.product.product_name}}</td>
                        <td>{{month_product.quantity}}</td>
                        <td>{{month_product.order.order_total}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
        </div>
    </div>
</div>
  <!-- {% for i in dests %}
<br>
<p>{{i.id}}&nbsp;{{i.name}}&nbsp;{{i.email}}&nbsp;{{i.username}}</p> 
{% endfor %} -->
<div>
  
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>
<script>
$(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        var maxMonth = year + '-' + month;
        $('#date').attr('max', maxDate);
        $('#month_date').attr('max', maxMonth);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>

<!-- <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="category" placeholder="category"><br>
    <button name="submit">submit</button>
     {% for messages in messages%}
        <h3>{{messages}}</h3>
    {% endfor %}
</form> -->

